
/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: #66CDAA;
}

.container{
    width: 80%; 
    margin: auto;
    height: 50px;
}
/* FIM GLOBAL */

/* header */

.header-como {
    height: 80px;
    background-color: #363636;
}

.title-header h3 {
    text-align: center;
    align-items: center;
    padding-top: 15px;
    color: white;
    font-size: 36px;
}

/* FIM HEADER */

/* HLD */

.hld {
    background-color: #66CDAA;
}

.hld .imagem img {
    height: 500px;
    margin-left: 95px;
    margin-top: 10px;
    
}

.hld .como-funciona {
    background-color:#363636 ;
    margin-top: 500px;
    border-bottom: #66CDAA solid 5px;
}

.hld .como-funciona h3 {
    text-align: center;
    color: white;
    font-size: 35px;
    height: 231px;
    width: 991px;
    line-height: 36px;
    margin-left: 180px;
    padding-top: 48px;
}
/* FIM HLD */

/* CONTATO */

.contato {
    background-color: white;
    height: 380px;
}

.box {
    background-color: #66CDAA;
    height: 350px;
    width: 1070px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
}    

.box-contato {
    background-color: #363636;
    color: white;
    width: 204px;
    height: 66px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.box-contato h3 {
    padding-top: 13px;
    text-align: center;
    font-size: 35px;
}

.contato .box-dados {
    background-color: #363636;
    float: right;
    height: 300px;
    width: 600px;
    margin-top: -60px;
    margin-right: 40px;
    border-radius: 10px;
}

.contato .box-dados input {
    width: 500px;
    align-items: center;
    margin-left: 45px;
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
    
}

.contato .box-dados ::placeholder {
    font-family: 'Roboto', sans-serif; ;
    color: rgba(54, 54, 54, 0.5);
    font-weight: bold;
    padding-left: 15px;
}

.contato .box-dados button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-left: 250px;
    font-weight: bold;
    font-size: 18px;
}

.contato .contatar h3 , p {
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bold;
}

.contato .contatar h3 {
    color: white;
}

.contato .contatar p {
    color: #363636
}


/* FIM CONTATO */

/* RODAPE */

.rodape {
    background-color: #363636;
    height: 70px;
    text-align: center;
    color: white;
}

.rodape h3 {
    padding-top: 25px;
}

.rodape span {
    color: #66CDAA;
    
}

/* FIM RODAPE */