body{
    margin-right: 0%; 
    margin-top: 0%; 
    margin-bottom: 0%; 
    margin-left: 0%;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: white
}

.header{
    width: 100%;
    height: 93px;
    margin: auto;
    background-color: #001D4A;
}

.titulo_logo{
    margin-top: 58px;
    float: left;
}

.logo{
    width: 80px;
    height: 80px;
    float: left;
}

.links{
    float: right;
}

.links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.links li{
    display: inline-block;
    padding: 55px 20px 0 20px;
}

.conteudo{
    background-color: #8B9EB7;
    height: 1840px;
}

.conteudo h1{
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 50px;
    margin-top: 0px;
}

.texto_esquerda{
    float: left;
    font-size: 29px;
    margin-left: 52px;
    margin-top: -42px;
}

.imagem1{
    width: 579px;
    height: 461px;
    margin-top: 69px;
    margin-left: 8px;
}

.texto_direita{
    float: right;
    font-size: 29px;
    margin-right: 1px;
    margin-top: -42px;
}

.pilares h1{
    margin: 883px 0% 0% 0%;
    text-align: left;
}

.MVV{
    margin-top: -38px;
    height: 650px;
    margin-left: 125px;
}

/* contato */
.contato{
    width: 100%;
    height: 136px;
    margin: auto;
    background-color: #001D4A;
}

.contato h0{
    font-size: 25px;
}

.logo2{
    width: 80px;
    height: 80px;   
}

.titulo_logo2{
    margin-top: -10px;
}

.rodape1{
    padding-top: 17px;
    margin-left: 50px;
}

.rodape2{
    margin-top: -117px;
    margin-right: 52px;
    float: right;
}

/* texto rodape */

.texto_rodape{
    padding: 5px 5px -800px 0;
}

.texto_rodape a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    float: right;
    margin-top: -83px;
    margin-right: 899px;
}

.email{
    color: white;
    float: right;
    margin-top: -110px;
    margin-right: 538px;
}

.email li{
    list-style-type: none;
    font-size: 23px;
}

.redes{
    color: white;
    float: right;
    margin-top: -110px;
    margin-right: 280px;
}

.redes li{
    list-style-type: none;
    font-size: 23px;
}