/* Global (que vai ser do site todo */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family é a fonte que eu vou usar */
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.botao1 {
  font-size: 27px;
  background-color:#15B986;
  color: #363636;
  border-color: #687986;
  width: 270px;
  height: 40px;
  margin-top: 220px;
  margin-left: 310px;

}

.botao2 {
    font-size: 27px;
    background-color:#15B986;
    color: #363636;
    border-color: #687986;
    width: 270px;
    height: 40px;
    margin-top: 220px;
    margin-left: 80px;
  
  }
/*Container =  configurando o espaço do que vai ficar no site*/
.container {
    width: 80%;
    margin: auto;
}

.green {
    color:#66CDAA ;
}

/*Header = configurando o tamanho do cabeçalho */
.header {
    background-color: #363636;
    height: 80px;
    padding-top: 1px;
    border-bottom: #66CDAA solid 5px;
}
.header .nav .menu-atual a, 
.header span{
  /* Cor do texto */
  color: #15B986;
}

.title-header h1,
/* fim HEADER */



.title-header {
    float: none;
    color: white;
    text-align: center;
    
}


.img {
    margin-top: 60px;
    margin-left: 240px;
}

.showcase {
    background-image: url(../img/background.png);
    
}

.showcase .container {
    height: 40%;
}

.footer {
    background-color: #363636;
    height: 80px;
    padding-top: 1px;
    border-top: #66CDAA solid 5px;
}







