body{
    background-color: #363636;
}

.content {
    padding: 0;
  }

  /* HEADER & NAV */
  .header{
    background-color: #363636;
    height: 80px;
    padding-top: 30px;
    border-bottom: #66CDAA solid 5px;
  }
  
  .header .nav .home, 
  .header span{
  
    color: #66CDAA;
  }
  .header .nav .home, 
  .header z{
    color: #66CDAA;
  }
  
  .title-header h1 span{
    color:  white;
  }

  .title-header h1,
  .nav ul
  {
    margin: -5px;
  }
  
  .title-header{
    float: left;
    color: #ffffff;
    font-size: 23px;
    
  }
  
  .title-header .icone {
  width: 80px;
  margin:-80px 0px 0px 200px;
  }
  
  .nav{
    float: right;
    margin-top: 10px;
  }
  
  .nav a{
    text-decoration: none;
    color: #66CDAA;
  }
  
  .nav li{
    display: inline-block;
    color: #66CDAA;
    padding: 20px;
    padding: 10px 20px 0 20px;
  }

  .nav div{
    color: white;
    display: inline-block;
  }

/* div tempo de trajeto */
.tempo{
    text-align: center;
    width: 220px;
    height: 28px;
    margin-top: 211px;
    margin-left: 197px;
    background-color: #c4c4c4;
}

/* combo select do órgão */
.selecionar_orgao{
    width: 220px;
    height: 28px;
    margin-top: 20px;
    margin-left: 197px;
    background-color: #c4c4c4;
}

/* div quem engloba as de baixo */
.alerta{
    margin-top: -110px;
    margin-left: 694px;
}

/* parte em amerelo */
.alerta #temperatura{
    height: 151px;
    width: 395px;
    background-color: #faff00;
}

/* posição da palavra alerta dentro da div em amarelo */
.alerta #temperatura #position{
    padding-top: 33px;
}

/* posição das palavras temperatura dentro da div em amarelo */
.alerta #temperatura #position #msg_temp{
    padding-top: 20px;
}

/* palavra status */
.alerta #status{
    margin-left: 160px;
    color:white;
    font-size: 18px;
}

/* palavra temperatura 1 */
.alerta #temperatura #temp1{
    margin-left: 55px;
    font-size: 24px;
}

/* palavra temperatura 2 */
.alerta #temperatura #temp2 {
    margin-left: 23px;
    font-size: 24px;
}

/* div onde vai alterar a temperatura ideal do órgão */
#temperatura_ideal{
    float: right;
    margin-right: 75px;
    margin-top: 1px;
}

/* palavra alerta */
.alerta #temperatura #alerta{
    margin-left: 136px;
    padding-top: 10px;
    font-size: 28px;
}

/* div onde ta a imagem do gráfico */
.dashboard{
    margin-top: 50px;
}

/* imagem do gráfico */
.dashboard #imagem_grafico{
    width: 1300px;
    margin-left: 10px;
}

/* div contendo a palavra registro e o fundo cinza */
.registros{
    margin-left: 200px;
    margin-top: 100px;
    width: 1019px;
    height: 352px;
}

/* palavra registro */
.registros #registro {
    margin-left: 430px;
    margin-top: 1003px;
    color: white;
}

/* fundo cinza */
.registros #fundo_cinza{
    background-color: #c4c4c4;
    width: 1039px;
    height: 332px;
    margin-left: -20px;
}

/* footer da página */
.footer {
    margin-top: 200px;
    background-color:#363636 ;
    color: white;
    overflow: auto;
    text-align: center;
    
    padding: 20px;
    border-top: #66CDAA solid 5px;
    
  }

  .footer .container z{
    color: #66CDAA;
  }

  .footer .container span{
      color: white;
  }