
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #66CDAA;
  
}

.container{
  width: 80%; 
  margin: auto;
  height: 50px;
}

.btn-orange{
  background-color: #66CDAA;
  color: #ffffff;
  border: none;
  width: 60px;
  height: 25px;
}

.header{
  background-color: #363636;
  height: 80px;
  padding-top: 30px;
  border-bottom: #66CDAA solid 5px;
}

.header .nav .home, 
.header span{

  color: #66CDAA;
}
.header .nav .home, 
.header z{
  color: white;
}

.title-header h1,
.nav ul
{
  margin: -5px;
}

.title-header{
  float: left;
  color: #ffffff;
  font-size: 24px;
  
}

.nav{
  float: right;
  margin-top: 10px;
}

.nav a{
  text-decoration: none;
  color: #66CDAA;
}

.nav li{
  display: inline-block;
  padding: 20px;
  padding: 10px 20px 0 20px;
}
.showcase{
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  min-height: 400px;
  border-bottom: #66CDAA solid 5px;
  padding-top: 30px;
}
.showcase z{
  color: #66CDAA;
}

.showcase h1{
  margin: 0;  
  font-size: 55px;
  padding-top: 100px;
}

.login{
  padding: 0px 25px 0px;
  margin-right: 160px;
  background-color: #ffffff;
  color: #21b0a8;
}

.login h1{
  margin: 0;
  float: left;
}
.login form{
  float: right;
}

.login input{
  height: 20px;
  width: 220px;
}

.box{
  margin-left: 115px;
  overflow: auto;
}

.box .box-item{
text-align: center;
width: 300px;
float: left;
margin: 40px 20px 0px 35px;
color:#363636;
}

.box img{
height: 100px;

}
/**esse é o pé do site **/
.footer {
  background-color:#363636 ;
  overflow: auto;
  
}
.footer {
  text-align: center;
  margin: 0px;
  padding: 20px;
 
}
